@CHARSET "ISO-8859-1";
#page_application_bg 
{
position: relative;
background-color: #3e7400;
width: 100%;
height: 100%;
}

#left_column
{
position: absolute;
width: 54%;
height: 100%;
left: 0px;
top: 0px;
padding-top: 20px;
padding-left: 40px;	
}

#right_column
{
position: absolute;
width: 46%;
height: 100%;
right: 0px;
top: 24px;
padding: 1px;
color: #c5c5c5;
font-family: Tahoma;
font-size: 12pt;
}

#article_android
{
padding-right: 20px;
padding-bottom: 20px;
}

h1 
{
font-family: Letter Gothic Std;
font-size: 24pt;
color: #a4ca39;
}

#img_android
{
position: relative;
width: 157px;
top: 50px;
left: 100px;
}