@CHARSET "ISO-8859-1";
#main{	
		border-width: 1px;
		border-style: solid;
	
	}
	.first
	{	/*	
		border-width: 1px;
		border-style: solid;*/
		float: left;
		width:200px;
		height:130px;	
		margin-left: auto;
		margin-right: auto;		
	}
	
#center {
	background-color: white;
	wieth:700px;
	height: auto;
	margin-left: 70px;
	
	}